<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>NgHello</title>
	<script src="js/angular.min.js"></script>
</head>
<body>
	{{"Hola" + "mundo"}}
</body>
</html>