<!DOCTYPE html>
<html lang="en" ng-app="moduleHttp">
<head>
	<meta charset="UTF-8">
	<title>http2</title>
	<script src="../js/angular.min.js"></script>
	<script src="controller.js"></script>
</head>
<body ng-controller="oneCtrl">
	<input type="text" ng-model="newPost.title"><br>
	<textarea name="" ng-model="newPost.body"></textarea><br>
	<button type="" ng-click="addPost()">Agregar post</button>
	<ul>
		<li ng-repeat="post in posts">
			<h2>{{post.title}}</h2>
			<p>{{post.body}}</p>
		</li>
	</ul>
</body>
</html>