<!DOCTYPE html>
<html lang="en" ng-app="moduleHttp">
<head>
	<meta charset="UTF-8">
	<title>http</title>
	<script src="../js/angular.min.js"></script>
	<script src="controller.js"></script>
</head>
<body ng-controller="oneCtrl">
	<ul>
		<li ng-repeat="post in posts">
			<h2>{{post.title}}</h2>
			<p>{{post.body}}</p>
		</li>
	</ul>
</body>
</html>