<!DOCTYPE html>
<html lang="en" ng-app="myFirstApp">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script src="../js/angular.min.js"></script>
	<script src="controller.js"></script>
</head>
<body >
	<div ng-controller="firstCtrl">
		{{"Hola " + nombre}}<br>{{compan}}<br>
		<input type="text" ng-model="nuevoComentario.comentario"><br>
		<input type="text" ng-model="nuevoComentario.username"> <br>
		<button ng-click="agregarComentario()">Agregar Comentario</button>
		<h3>Comentarios</h3>
		<ul>
			<li ng-repeat="comentario in comentarios">
				{{comentario.comentario}} - 
				<strong>{{comentario.username}}</strong>
			</li>
		</ul>
	</div>
	<div ng-controller="secondCtrl">
		{{letter}}
	</div>
</body>
</html>