<!DOCTYPE html>
<html lang="es" ng-app="ToDoList">
<head>
	<meta charset="UTF-8">
	<title>to do list</title>
	<script src="../js/angular.min.js"></script>
	<script src="js/angular-local-storage.min.js"></script>
	<script src="js/controller.js"></script>
</head>
<body ng-controller="ToDoCtrl">
	<form ng-submit="addActv()">
		<input type="text" ng-model="newActv.descripcion">
		<input type="datetime-local" ng-model="newActv.fecha">
		<input type="submit" value="Guardar Actividad">
	</form>
	<button ng-click="todo = []">Limpiar</button>
	<ul>
		<li ng-repeat="actividad in todo">
			{{actividad.descripcion}}
			{{actividad.fecha | date: 'short'}}
		</li>
	</ul>
</body>
</html>